header
{ 
background-color: white;
height:100px;
margin-bottom:10px;

}
header h1{
float: left;
size: 85px;
text-transform: uppercase;
}
header nav{
	float: right;
	list-style: none;

}
header nav ul li{
	font-style: bold;
	display: inline-block;
	float: left;
	margin:15px;
	
}
header nav ul li a{
	text-decoration: none
}
.acceuil{
	font-size: 15px;
	height: 60px;
}
section h2{
	text-transform: uppercase;
	font-size: 25px;
}
section{
	font-family: verdana, sans-serif;
}
.image{
	height:600px;
	background-image: url('images (2).jpeg');
	background-size: contain;
}
.image p{
	text-transform: uppercase;
	font-size: 57px;
	text-align: center;
	padding-top: 250px;
	font-style: bold;
	color: rgb(255,255,0);

}
.acceuil{
	height: 250px;
	background-color: white;
	font-size: 40px;
}

footer{
	padding-top: 50px;
	background-color:grey;
	display: inline-block;
	}
	.partenaire{
		font-family: verdana , sans-serif;
		text-transform: uppercase;

	}
	.nos-pages{
		font-family: verdana, sans-serif;
		text-transform:uppercase;
	}
	.contacts{
		font-family: verdana, sans-serif;
		text-transform:uppercase;
	}
	

footer div{
	display: inline-block;

}
footer div ul li{
	text-align: center;
	margin-right: 470px;
	list-style: none;
	  }
#agenda{
	height: 300px;
	background-color: #ffc107;
}
#agenda ul li{
	list-style: none;
	margin-left: 100px;

}
#agenda h3{
	text-transform: uppercase;
	font-family: vernada, sans-serif;
}
#agenda div {
display: inline-block;


}

#annuaire{
	height: 170px;
	background-color: rgb(96,149,66);
}
#annuaire div{
display: inline-block;
}
#annuaire div ul li{
	text-align: center;
	list-style: none;
}

